@model CE.Web.Models.CustomerViewModel

<div class="jumbotron">
    <h1>Customer</h1>   
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Customer List</h2>
        <p>
            @foreach (var customer in Model.Customers)
            {
                <h3>@Html.ActionLink(@customer.Name, "index", "CustomerOrderData", new {id = @customer.ID}, null)</h3>
            }
        </p>
    </div>
</div>
